<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net481" />
  <package id="BouncyCastle.Cryptography" version="2.5.0" targetFramework="net481" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net481" />
  <package id="itext" version="9.0.0" targetFramework="net481" />
  <package id="itext.bouncy-castle-adapter" version="9.0.0" targetFramework="net481" />
  <package id="itext.commons" version="9.0.0" targetFramework="net481" />
  <package id="itext7" version="9.0.0" targetFramework="net481" />
  <package id="itext7.bouncy-castle-adapter" version="9.0.0" targetFramework="net481" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net481" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="9.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="9.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="OpenHtmlToPdf" version="1.12.0.0" targetFramework="net481" />
  <package id="PDFsharp" version="6.1.1" targetFramework="net481" />
  <package id="QRCoder" version="1.6.0" targetFramework="net481" />
  <package id="Saladpuk.EMVCo" version="1.1.1" targetFramework="net481" />
  <package id="Saladpuk.EMVCo.Contracts" version="1.0.1" targetFramework="net481" />
  <package id="Saladpuk.PromptPay" version="3.0.1" targetFramework="net481" />
  <package id="Saladpuk.PromptPay.Contracts" version="3.0.1" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.6.0" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>